header{
	border: solid;
	border-width: 4px;
	border-radius: 50px;
	color: #000000;
	font-family: monospace;
	font-size: 60px;
	letter-spacing: 12px;
	text-align: center;
	background: #af5700;
	top: 0;
}

footer{
	border: solid;
	border-width: 4px;
	color: #000000;
	font-family: monospace;
	font-size: 20px;
	letter-spacing: 6px;
	text-align: center;
	background: #af5700;
	bottom: 0;
}

body {
    background-color: #ffd4aa;
}

.sheet {
	border-style: solid;
	border-color: red;
	border-width: 2px;
	width: 100%;
	font-family: monospace;
}

td {
	border-style: solid;
	border-color: black;
	border-width: 1px;
}